@page
@model LoginModel

@{
    Layout = null;
    ViewData["Title"] = "Log in";
}


<html class="no-js" lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta name="description" content="Responsive Bootstrap 4 and web Application ui kit.">

    <title>:: RONVEL S.A.C ::</title>
    <!-- Favicon-->
    <link rel="icon" href="favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/plugins/jvectormap/jquery-jvectormap-2.0.3.min.css" />
    <link rel="stylesheet" href="~/assets/plugins/morrisjs/morris.min.css" />

    <!-- Custom Css -->
    <link rel="stylesheet" href="~/assets/plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/assets/css/main.css">
    <link rel="stylesheet" href="~/assets/css/authentication.css">
    <link rel="stylesheet" href="~/assets/css/color_skins.css">
</head>


<body class="theme-blush authentication sidebar-collapse">
    <!-- Navbar -->
    <form id="account" method="post" class="form">
        <nav class="navbar navbar-expand-lg fixed-top navbar-transparent">
            <div class="container">

            </div>
        </nav>
        <!-- End Navbar -->
        <div class="page-header">
            <div class="page-header-image" style="background-image:url(/images/login.jpg)"></div>
            <div class="container">
                <div class="col-md-12 content-center">
                    <div class="card-plain">

                        <div class="header">
                            <div class="logo-container">
                                <img src="~/images/logo.svg" alt="">
                            </div>
                            <h5>:: RONVEL S.A.C ::</h5>

                            <div class="image-container">
                                <img src="~/images/ronvel-logo.jpg" alt="Ronvel S.A.C">
                            </div>                            
                        </div>
                        <div class="content">
                            <div class="input-group input-lg">

                                <input asp-for="Input.Email" class="form-control" placeholder="USUARIO ej: usuario.apellido@@dominio.com" required/>
                                <span asp-validation-for="Input.Email" class="input-group-addon">
                                    @*<i class="zmdi zmdi-account-circle"></i>*@
                                </span>                             

                            </div>
                            <div class="input-group input-lg">

                                @*<label asp-for="Input.Password"></label>*@
                                <input asp-for="Input.Password" class="form-control" placeholder="CONTRASEÑA" required />
                                <span asp-validation-for="Input.Password" class="input-group-addon">
                                    @*<i class="zmdi zmdi-lock"></i>*@
                                </span>

                               

                            </div>
                        </div>
                        <div class="footer text-center">
                            <button type="submit" class="btn btn-success btn-round btn-lg btn-block">Entrar</button>
                        </div>

                        

                        <div class="footer text-center">
                           
                            @*<a asp-page="./Register" asp-route-returnUrl="@Model.ReturnUrl">Registrar nuevo usuario</a>*@

                        </div>

                    </div>
                </div>
            </div>


            <footer class="footer">
                <div class="container">
                    <nav>

                    </nav>
                    <div class="copyright">
                        &copy;
                        <script>
                                document.write(new Date().getFullYear())
                        </script>
                        ::::::::
                        <span>RONVEL - Desarrollo de Sistemas</span>
                        ::::::::

                    </div>
                </div>
            </footer>
        </div>
    </form>
    <!-- Jquery Core Js -->
    <script src="~/assets/bundles/libscripts.bundle.js"></script>
    <script src="~/assets/bundles/vendorscripts.bundle.js"></script> <!-- Lib Scripts Plugin Js -->



    <script src="~/assets/bundles/morrisscripts.bundle.js"></script><!-- Morris Plugin Js -->
    <script src="~/assets/bundles/jvectormap.bundle.js"></script> <!-- JVectorMap Plugin Js -->
    <script src="~/assets/plugins/jvectormap/jquery-jvectormap-us-aea-en.js"></script><!-- USA Map Js -->
    <script src="~/assets/bundles/knob.bundle.js"></script> <!-- Jquery Knob, Count To, Sparkline Js -->

    <script src="~/assets/bundles/datatablescripts.bundle.js"></script>

    <script src="~/assets/bundles/mainscripts.bundle.js"></script>
    <script src="~/assets/js/pages/index.js"></script>
    <script src="~/assets/js/pages/ui/dialogs.js"></script>
    <script src="~/assets/plugins/dropzone/dropzone.js"></script>
    <script>
                $(".navbar-toggler").on('click', function () {
                    $("html").toggleClass("nav-open");
                });
                //=============================================================================
                $('.form-control').on("focus", function () {
                    $(this).parent('.input-group').addClass("input-group-focus");
                }).on("blur", function () {
                    $(this).parent(".input-group").removeClass("input-group-focus");
                });
    </script>
</body>

</html>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
